/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  margin: 0 auto;
  padding: 60px 20px;
}

/* HEADER */
.header {
  border-bottom: 1px solid #dfd6d6;
}
.page-header {
  margin: 0 auto;
  max-width: 335px;

  display: flex;
  justify-content: space-between;

  padding: 20px;
}

.logo {
  text-decoration: none;

  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.button {
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu-icon {
  display: block;
  width: 28px;
  height: 14px;
}

/* HERO */

.page-hero {
  max-width: 335px;
}

.hero-title {
  margin-bottom: 20px;

  font-family: "Gilroy", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 0.95;
  letter-spacing: -0.02em;
  color: #0c0c0c;
}

.hero-accent {
  color: #3350e9;
}

.hero-text {
  margin-bottom: 28px;

  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  color: rgba(12, 12, 12, 0.7);
}

.scroll {
  margin-bottom: 28px;

  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.hero-scroll {
  font-family: "Gilroy", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #0c0c0c;
}
